{% extends '@GoatQuery/profiler/layout.html.twig' %}

{% block panel %}
<h2>{{ "Queries"|trans }}</h2>

{% if collector.queries is empty %}
<p>
  <em>{{ "No queries."|trans }}</em>
</p>
{% else %}
<table class="alt">
  <thead>
  <tr>
    <th>#<span>&#9650;</span></th>
    <th>Timers<span></span></th>
    <th style="width: 100%;">Info</th>
  </tr>
  </thead>
  <tbody id="queries" >
    {% for i, query in collector.queries %}
    <tr id="queryNo-{{ i }}" class="{{ cycle(['odd', 'even'], i) }}">
      <td>{{ i }}</td>
      <td>
        {% if query.total is defined %}
        <div><strong>total</strong>:&nbsp;{{ query.total }}&nbsp;ms</div>
        {% endif %}
        {% if query.timers is defined %}
        {% for name, time in query.timers %}
        <div>{{ name }}:&nbsp;{{ time }}&nbsp;ms</div>
        {% endfor %}
        {% endif %}
      </td>
      <td id="queryNo-{{ i }}">
        <div id="code-{{ i }}" style="font-size: 14px;">
          {% if query.sql %}
          {{ goat_format_sql(query.sql)|raw }}
          {% else %}
          <em>Query was not collected.</em>
          {% endif %}
        </div>
        <small>
          <strong>Parameters</strong>: {{ query.params|yaml_dump }}
          {# | <strong>Results</strong>: {{ query.result_count }} #}
        </small><br/>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
<style>
  #collector-content table tr.error td{
    background-color: #f66;
  }
  code {
    display: none;
  }
  code pre {
    padding: 5px;
  }
  code.explain{
    display: block;
  }
</style>
{% endblock %}
